html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #333333;
}

label {
    font-size: small !important;
}

p.center {
	text-align: center;
}


/* page structure */
.sv-framemap {
    padding: 0px;
    background: transparent url('images/bgpaper.jpg');
}

.sv-map-controls {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 44px;
    z-index: 8000;
}

.sv-map-panels {
    position: absolute;
    top: -4px;
    right: 4px;
    margin-left: 56px;
    z-index: 8010;
}

#panelInfo-popup,#panelLocate-popup,#panelShare-popup, #panelQuery-popup {
    top: 54px !important;
    right: 4px !important;
    left: auto !important;
    z-index: 8020 !important;
}
.sv-panel {
    min-width: 300px;
    overflow-y: auto;
}

#panelShareBtn {
    max-width: 32em;
    text-overflow: ellipsis !important;
}

@media screen and (max-width: 800px), screen and (max-height: 600px) {
    #panelInfo-popup,#panelLocate-popup,#panelShare-popup, #panelQuery-popup {
        top: 54px !important;
        margin-left: 4px !important;
    }
    #panelShareBtn {
        max-width: 10em;
        text-overflow: ellipsis !important;
    }
}



/* map components */

.sv-header {
	display: none;
}

.sv-map {
    width: 100%;
    height: 100%;
    cursor: hand;
}

.sv-map-controls .ui-btn{
    width: 44px;
    height: 44px;
    margin: 0 0 4px 0;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}

.sv-map-controls .ui-btn:hover {
	background-color: #fff !important;
}

.sv-map-controls .ui-btn-active {
	background-color: #fff !important;
}

.ui-icon-home-c {
    background-image: url('images/home.png') !important;
}
.ui-icon-home-c:hover {
    background-image: url('images/home_a.png') !important;
}
.ui-icon-plus-c {
    background-image: url('images/plus.png') !important;
}
.ui-icon-plus-c:hover {
    background-image: url('images/plus_a.png') !important;
}
.ui-icon-minus-c {
    background-image: url('images/minus.png') !important;
}
.ui-icon-minus-c:hover {
    background-image: url('images/minus_a.png') !important;
}
.ui-icon-layer-c {
    background-image: url('images/layer.png') !important;
}
.ui-icon-layer-c:hover {
    background-image: url('images/layer_a.png') !important;
}

#marker {
    width: 24px;
    height: 30px;
    background: transparent url('images/arrow.png') no-repeat bottom left;
}

.sv-map .ol-zoom a {
    display: none;
}

.sv-map .ol-scale-line {
    background-color: rgba(255,255,255,0.7);
}

.sv-map .ol-scale-line-inner {
    color: #333333;
    border-color: #333333;
}

.sv-map .ol-attribution {
    color: #333333;
    background-color: rgba(255,255,255,0.7);
    border-top-left-radius: 4px;
}

.sv-map .ol-attribution a {
    text-decoration: underline;
}

/* panels */

#panelInfo-screen, #panelLocate-screen, #panelShare-screen, #panelQuery-screen {
    display: none;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.1em;
}

/* legend layout */

.sv-legend {
    font-size: small;
}

.sv-legend a {
    text-decoration: none;
}
.sv-legend h4,p {
    padding: 0 0 2px 0 !important;
    margin: 0;
}
.sv-legend hr {
    clear: both;
}
.sv-md {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
}
.sv-md-title {
    font-size: x-small;svè
}
.sv-md-abstract {
}
.sv-md-attrib {
    display: block;
    float: right;
    text-align: right;
    max-width: 80px;
    font-size: x-small;
}
.sv-md-logo {
    max-height: 64px;
    max-width: 64px;
}
.sv-md-legend {
    padding: 4px;
    max-width: 320px;
}
.sv-md-meta {
    text-decoration: none;
}

/* share layout */

.sv-permalink-wrap {
    text-align: center;
    margin: 0 0 0 8px;
}

/* query layout */

.sv-noitem {
    font-style: italic;
    color: #666;
}

.sv-key {
    color: #999;
    font-size: small;
}

.sv-value {
    font-size: small;
}

.sv-feature a {
    font-size: 0.7em;
}
.sv-location a {
    font-size: 0.7em;
    /*color: red !important;*/
}












