html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #333333;
}

/* page structure */
#header {
    text-align: left !important;
}

#frameMap {
    padding: 0px;
}
#map {
    width: 100%;
    height: 100%;
}
#mapcontrols {
    position: absolute;
    top: 46px;
    left: 10px;
    width: 32px;
    z-index: 8000;
}

label {
    color: #555555 !important;
    font-size: small !important;
}

/* legend layout */
#legend a {
    text-decoration: none;
}
#legend h4,p {
    padding: 0 0 2px 0 !important;
    margin: 0;
}
#legend hr {
    clear: both;
}
.mdTitle {
}
.mdAbstract {
    color: #555555;
}
.mdAttrib {
    display: block;
    float: right;
    text-align: right;
    max-width: 80px;
    font-size: x-small;
}
img.mdLogo {
    max-height: 64px;
    max-width: 64px;
}
img.mdLegend {
    padding: 4px;
    max-width: 320px;
}
a.mdMeta {
	text-decoration: underline;
}

/* panels placement */
.popupPanel {
    border-width: 0 0 1px 1px !important;
    border-color: #666666 !important;
    background: rgba(255,255,255,1);
    z-index:8010 !important;
    overflow-y: auto;
}
#panelInfo-popup,#panelLocate-popup,#panelShare-popup, #panelQuery-popup {
    top: 30px !important;
    right: 0px !important;
    left: auto !important;
	min-width: 250px;
}
#panelInfo-screen, #panelLocate-screen, #panelShare-screen, #panelQuery-screen {
    display: none;
}

#qrcode {
	margin-left: 6px;
	margin-top: 6px;
    width: 160px;
    height: 160px;
}

#marker {
	width: 24px;
	height: 30px;
	background: transparent url('images/arrow.png') no-repeat bottom left;
}


/* ol controls */

#map .ol-zoom a.ol-zoom-in {
    display: none;
}
#map .ol-zoom a.ol-zoom-out {
    display: none;
}
.ol-attribution, .ol-attribution a {
    color: #333333;
    background-color: transparent;
}
.ol-attribution a {
    text-decoration: underline;
}



