html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #333333;
}


/* Overrides jquery ui theme styles */
.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited {
    background-color: #626161;
    border-color: #aaa;
    color: #fff;
    text-shadow: 0 1px 0 #111;
}

.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover, .ui-page-theme-b .ui-btn:visited:hover, html .ui-bar-b .ui-btn:visited:hover, html .ui-body-b .ui-btn:visited:hover, html body .ui-group-theme-b .ui-btn:visited:hover, html head+body .ui-btn.ui-btn-b:visited:hover {
    background-color: #3f3f3f;
    border-color: #888;
}

.ui-page-theme-b .ui-btn:focus, html .ui-bar-b .ui-btn:focus, html .ui-body-b .ui-btn:focus, html body .ui-group-theme-b .ui-btn:focus, html head+body .ui-btn.ui-btn-b:focus, .ui-page-theme-b .ui-focus, html .ui-bar-b .ui-focus, html .ui-body-b .ui-focus, html body .ui-group-theme-b .ui-focus, html head+body .ui-btn-b.ui-focus, html head+body .ui-body-b.ui-focus {
    -webkit-box-shadow: 0 0 5px #fff;
    -moz-box-shadow: 0 0 5px #fff;
    box-shadow: 0 0 5px #fff;
}

.ui-page-theme-b .ui-btn.ui-btn-active, html .ui-bar-b .ui-btn.ui-btn-active, html .ui-body-b .ui-btn.ui-btn-active, html body .ui-group-theme-b .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-b.ui-btn-active, .ui-page-theme-b .ui-checkbox-on:after, html .ui-bar-b .ui-checkbox-on:after, html .ui-body-b .ui-checkbox-on:after, html body .ui-group-theme-b .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-b:after, .ui-page-theme-b .ui-flipswitch-active, html .ui-bar-b .ui-flipswitch-active, html .ui-body-b .ui-flipswitch-active, html body .ui-group-theme-b .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active, .ui-page-theme-b .ui-slider-track .ui-btn-active, html .ui-bar-b .ui-slider-track .ui-btn-active, html .ui-body-b .ui-slider-track .ui-btn-active, html body .ui-group-theme-b .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-b .ui-btn-active {
    background-color: #aaa;
    border-color: #888;
    color: #fff;
    text-shadow: 0 1px 0 #555;
}

.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover {
    -webkit-box-shadow: 0 0 7px #999;
    -moz-box-shadow: 0 0 7px #999;
    box-shadow: 0 0 7px #999;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
    -webkit-box-shadow: 0 0 7px #999;
    -moz-box-shadow: 0 0 7px #999;
    box-shadow: 0 0 7px #999;
}


/* Overrides openlayers styles */
.ol-control button {
    color: #fff;
    background-color: #626161;
}

.ol-control button:hover,
.ol-control button:focus {
    background-color: #888;
}

.ol-attribution ul {
    max-width: 100%;
}



label {
    font-size: small !important;
}

p.center {
	text-align: center;
}


/* page structure */
.sv-framemap {
    padding: 0px;
    background: transparent url('images/bgpaper.jpg');
}

.sv-map-controls {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 44px;
    z-index: 8000;
}

.sv-map-panels {
    position: absolute;
    top: -4px;
    right: 4px;
    margin-left: 56px;
    z-index: 8010;
}

#panelInfo-popup,#panelLocate-popup,#panelShare-popup, #panelQuery-popup {
    top: 54px !important;
    right: 4px !important;
    left: auto !important;
    z-index: 8020 !important;
}

.sv-panel {
    min-width: 300px;
    overflow-y: auto;
}

#panelShareBtn {
    max-width: 32em;
    text-overflow: ellipsis !important;
}


@media screen and (max-width: 600px) {
    .ui-controlgroup-controls .ui-btn {
        font-size: 10pt;
    }
}

@media screen and (max-width: 460px) {
    #panelShareBtn {
        max-width: 8em;
    }
}

@media screen and (max-width: 380px) {
    #panelShareBtn {
        max-width: 6em;
    }
}


@media screen and (max-height: 400px) {
    .ui-controlgroup-controls .ui-btn {
        font-size: 10pt;
    }
}

/* map components */

.sv-header {
	display: none;
}

.sv-map {
    width: 100%;
    height: 100%;
    cursor: hand;
}

.sv-map-controls .ui-btn{
    width: 44px;
    height: 44px;
    margin: 0 0 4px 0;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}


@media screen and (max-width: 600px),
screen and (max-height: 400px) {
    .sv-map-controls .ui-btn {
        width: 32px;
        height: 32px;
        background-size: 85% 85%;
    }
}


.sv-map-controls .ui-btn-active {
	background-color: #fff !important;
}

.ui-icon-home-c {
    background-image: url('images/home.png') !important;
}
.ui-icon-plus-c {
    background-image: url('images/zoom-plus.png') !important;
}
.ui-icon-minus-c {
    background-image: url('images/zoom-minus.png') !important;
}
.ui-icon-layer-c {
    background-image: url('images/map.png') !important;
}


#marker {
    width: 30px;
    height: 38px;
    background: transparent url('images/pin-red.png') no-repeat;
}

.sv-map .ol-zoom a {
    display: none;
}

.sv-map .ol-scale-line {
    background-color: rgba(255,255,255,0.7);
}

.sv-map .ol-scale-line-inner {
    color: #333333;
    border-color: #333333;
}

.sv-map .ol-attribution {
    color: #333333;
    background-color: rgba(255,255,255,0.7);
    border-top-left-radius: 4px;
}

.sv-map .ol-attribution a {
    text-decoration: underline;
}

/* panels */

#panelInfo-screen, #panelLocate-screen, #panelShare-screen, #panelQuery-screen {
    display: none;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.1em;
}

/* legend layout */

.sv-legend {
    font-size: small;
}

.sv-legend a {
    text-decoration: none;
}
.sv-legend h4,p {
    padding: 0 0 2px 0 !important;
    margin: 0;
}
.sv-legend hr {
    clear: both;
}
.sv-md {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
}
.sv-md-title {
    font-size: x-small;
}
.sv-md-abstract {
}
.sv-md-attrib {
    display: block;
    float: right;
    text-align: right;
    max-width: 80px;
    font-size: x-small;
}
.sv-md-logo {
    max-height: 64px;
    max-width: 64px;
}
.sv-md-legend {
    padding: 4px;
    max-width: 320px;
}
.sv-md-meta {
    text-decoration: none;
}

/* share layout */

.sv-permalink-wrap {
    text-align: center;
    margin: 0 0 0 8px;
}

/* query layout */

.sv-noitem {
    font-style: italic;
    color: #666;
}

.sv-key {
    color: #999;
    font-size: small;
}

.sv-value {
    font-size: small;
}

.sv-feature a {
    font-size: 0.7em;
}
.sv-location a {
    font-size: 0.7em;
}
