/* TimeBox CSS */
#timeBox {
    display: none;
    position: absolute;
    bottom: 33px;
    width: 100%;
}
#timeSliderBox {
    //position: absolute;
    //right: 4px;
    //bottom: 30px;
    float: right;
    width: 88%;
}
#timeSliderBox input#timeSlider {
    display: none;
}
#timeSliderBox .ui-slider-track {
    margin-left: -18px;
    width: 99%;
}
/*
#timeSliderBox a.ui-slider-handle {
    width: 100px;    
}
*/
#timeInputBox {
    margin-left: 4px;
    float: left;
    width: 10%;
}
#timeInput {
    text-align: center;
}