var hardConfig = {
    title: 'geOrchestra mobile',
    geOrchestraBaseUrl: 'http://dev.geobretagne.fr/',
    projection: projection,
    initialExtent: [-584909, 5968136, 2126, 6287643],
    maxExtent: [-20037508.34, -20037508.34, 20037508.34, 20037508.34],
    restrictedExtent: [-540000, 5880000,30000, 6297000],
    maxFeatures: 10,
    nodata: '<!--nodatadetect-->\n<!--nodatadetect-->',
    openLSGeocodeUrl: "http://geobretagne.fr/openls?",
    layersBackground: [
        new ol.layer.Tile({
            source: new ol.source.OSM()
        })
    ],
    layersOverlay: [],
    socialMedia: {
        'Twitter' : 'https://twitter.com/intent/tweet?text=',
        'Google+' : 'https://plus.google.com/share?url=',
        'Facebook': 'http://www.facebook.com/sharer/sharer.php?u='
    }
};
